/*
* Just a colored bar at the topmost of the page.
* Will contain the title and header sections
*/

#top-wrapper {
    background-color: #dfdfdf;
    height: 110px;
    /* If the top-menu is not used, minimize the height. A good value is 80px. */
    /* Otherwise, use the default height above. */
    height: 80px;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    display: inline;
    visibility: visible;
}

#top-wrapper-bar {
    background-color: #ff0000;
    height: 10px;
    height: 5px;
    width: 100%;
}

/* contains the title and header sections */
#top-container {
    height: inherit;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* vertical space below the container */
    /* margin-bottom: 35px; */
}

#title {
    width: 100%;
    height: 32px;
    float: left;
    padding: 0;
    padding-top: 13px;
    /* Change of font needs to raise the title */
    padding-top: 9px;
    padding-left: 4px;
    margin: 0;
    /* Autosize width to content */
    /*
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    */
}

#description {
    width: 1000px;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
    /* this is to offset a little bit to the right */
    padding-left: 4px;
}

/******************************************************************************/

/*
 * wrapper for the two-column divs
 * this is to honor the heights of the columns in the body-container
 * which if not wrapped in a div appears to the left because of the
 * float: left rule.
 */

#content-wrapper {
    clear: both;
    width: 1000px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 20px;
}

/*
 * contains the body of the page; navigation, articles, description, etc sections
 * how to create 3 columns with the same height
 * http://www.alistapart.com/articles/multicolumnlayouts/#shareLinks
 */

#body-container {
    /* honor the heights of the columns */
    float: left;
    /* the width and color of the navigation section */
    /* border-left: 200px solid transparent; */
    /* the width and color of the right (description/etc) section */
    /* border-right: 200px solid transparent; */
    /* background color of the articles section */
    background-color: transparent;
    width: 600px;
    width: 1000px;
    padding-bottom: 20px;
}

#left-column {
    float: left;
    /* actual width less the left/right paddings */
    width: 580px;
    width: 660px;
    margin: 0;
    padding: 0px;
    padding-left: 10px;
    padding-left: 0px;
    padding-right: 10px;
}

#right-column {
    float: right;
    /* actual width less the left/right paddings */
    width: 180px;
    width: 320px;
    /* must be equal to the container border-right width */
    margin-right: -200px;
    margin-right: 0px;
    position: relative;
    border: 1px;
    padding-top: 0px;
    padding-top: 140px;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 0px;
}

/******************************************************************************/

#bottom-wrapper {
    float: left;
    width: 100%;
    height: 175px;
    height: 330px;
    margin: 0px;
    padding: 0;
    background-color: #dddddd;
    display: inline;
    visibility: visible;
}

#bottom-wrapper-line {
    float: left;
    width: 100%;
    height: 3px;
    height: 2px;
    margin: 0px;
    padding: 0;
    background-color: #ff0000;
}

/* contains the bottom sections */
#bottom-container {
    width: 1000px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#bottom-left {
    float: left;
    width: 300px;
    padding-top: 0px;
}

#bottom-center {
}

#bottom-right {
    text-align: right;
    float: right;
    width: 400px;
    display: table-cell;
}

/******************************************************************************/

div.indent {
    padding-left: 40px;
    padding-right: 40px;
}