@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
/*
ref: http://allanmcrae.com/2012/05/c11-part-4-template-tidbits/
code, kbd {
	background: #f4f4f4;
	font: 12px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	padding: 10px;
	display: block;
}
*/

html {
    /* Reference font size for 'rem' unit */
    font-size: 10pt;
}

body {
    margin: 0px;
    /* font-family: "Source Sans Pro", "Liberation Sans", Verdana, Helvetica, sans-serif; */
    font-family: "Segoe UI", "Liberation Sans", Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    /* background-color: #FFFFEA; */
}

h3 {
    font-size: /* 12pt; */ 1.3rem;
}

h4 {
    font-size: /* 11pt; */ 1.2rem;
}

h5 {
    font-size: /* 10pt; */ 1.1rem;
}

a {
    text-decoration: none;
}

    a.ruby {
        border-bottom: 1px dotted;
    }

code {
    font-family: 'Negerns Courier', 'Courier New', Courier, monospace;
    font-size: 9pt;
    font-size: 1rem;
    color: maroon;
}

pre {
    padding: 5px 25px 5px 20px;
    font-family: monospace;
    font-family: 'Negerns Courier', 'Courier New', Courier, monospace;
    font-size: 9pt;
    font-size: 0.9rem;
    /* Make code appear a bit vertically compressed than normal */
    line-height: 12pt;
    color: #777777;
    border: 1px dotted #C0C0C0;
    background-color: #FCFCFC;
    /*overflow: auto;*/
    text-align: left;

    /*
    display: block;
    text-indent: -15px;
    padding-left: 20px;
    */

    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */

    word-wrap: break-word; /* Internet Explorer 5.5+ */

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

    pre span.preprocessor {
        color: black;
    }

    pre span.comment {
        color: green;
    }

    pre span.keyword {
        color: blue;
    }

    pre span.string {
        color: darkgoldenrod;
    }

em.emphasis {
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Negerns Courier', 'Courier New', Courier, monospace;
    font-size: 10pt;
    font-size: 1rem;
    color: Maroon;
    font-style: normal;
}

/* NOT USED */
/*
.code {
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Negerns Courier', 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-style: normal;
}
*/

table {
    /* border-color: #C0C0C0; */
    border-color: #000;
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
}

    table.list {
        border-collapse: collapse;
    }

        table.list tr {
            border: 1px dotted #6a6a6a;
        }

        table.list td {
            border: 1px dotted #6a6a6a;
        }

    table.command_options {
        border-collapse: collapse;
    }

        table.command_options tr {
            border: 1px dotted #6a6a6a;
        }

        table.command_options td {
            white-space: nowrap;
            border: 1px dotted #6a6a6a;
        }

            table.command_options td.option {
                font-family: 'Courier New', Courier, monospace;
                font-family: 'Negerns Courier', 'Courier New', Courier, monospace;
                font-size: 9pt;
                font-size: 0.9rem;
                font-style: normal;
            }

thead {
    font-size: 1rem;
    font-weight: bold;
}

p.note {
    padding: 4px 8px 5px 8px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-size: 0.8rem;
    color: black;
    border: 1px dotted #C0C0C0;
    background-color: Azure;
}

blockquote {
    display: block;
    font-weight: normal;
    line-height: 15px;
    padding: 0px 8px 0px 11px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 1px dotted #C0C0C0;
}

/******************************************************************************/

#title a {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 20pt;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
	text-shadow: 0 0 5px #ffffff;
}
#description {
    font-family: Lucida Sans Unicode, Georgia, Times New Roman, Times, serif;
    font-size: 12pt;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: #000000;
}

.small-text {
    font-size: smaller;
}

section.no-style ul {
    list-style-type: none;
}
