/* Color Reference: http://cloford.com/resources/colours/500col.htm */
/* The standard CSS for doxygen */

body, table, div, p, dl {
    font-family: Segoe UI, Verdana, Geneva, Arial, sans-serif;
    /* font-size: 12px; */
    font-size: 9pt;
}

/* @group Heading Levels */

h1
{
    /* Must be equal or smaller than the title font */
    font-size: 11pt;
    font-weight: bold;
}

h2 {
    font-size: 10pt;
}

h2.groupheader {
	border-bottom: 2px solid #333;
	padding-bottom: 3px;			/* vertical gap after section */
}

h3 {
    font-size: 9pt;
}

dt {
    font-weight: bold;
}

div.multicol {
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

p.startli, p.startdd, p.starttd {
    margin-top: 2px;
}

p.endli {
    margin-bottom: 0px;
}

p.enddd {
    margin-bottom: 4px;
}

p.endtd {
    margin-bottom: 2px;
}

/* @end */

caption {
    font-weight: bold;
}

span.legend {
        font-size: 70%;
        text-align: center;
}

h3.version {
        font-size: 90%;
        text-align: center;
}

div.qindex, div.navtab{
    background-color: #feffef;
    border: 1px solid #d9b2b2;
    text-align: center;
    text-align: left;		/* left-align class index letter links */
	margin-top: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.qindex, div.navpath {
    width: 100%;
    line-height: 140%;
}

div.navtab {
    margin-right: 15px;
	margin-right: 0px;
}

/* @group Link Styling */

a {
    color: #3D578C;
    font-weight: normal;
    text-decoration: none;
}

.contents a:visited {
    color: #4665A2;
}

a:hover {
    text-decoration: underline;
}

a.qindex {
    font-weight: bold;
}

a.qindexHL {
    font-weight: bold;
    background-color: #feffef;
    color: #3D578C;
    border: 1px double #d9b2b2;
}

.contents a.qindexHL:visited {
    /* color: #ffffff; */
}

a.el {
    font-weight: normal;
}

a.elRef {
}

a.code {
    color: #4665A2;
}

a.codeRef {
    color: #4665A2;
}

/* @end */

dl.el {
    margin-left: -1cm;
}

.fragment
{
    font-family: Negerns Courier, Courier New, Courier, Monospace;
    font-size: 9pt;

    border: 1px dotted #C0C0C0;
    background-color: #feffef;
    padding: 5px 4px 4px 10px;
    margin: 4px 18px 4px 12px;
    overflow: auto;
    word-wrap: break-word;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

code
{
    font-family: Negerns Courier, Courier New, Courier, Monospace;
    font-size: 9pt;
}

/* Introduced in version 1.8.1 */
div.line {
    font-family: Negerns Courier, Courier New, Courier, Monospace;
    font-size: 9pt;
}

pre.fragment {
    border: 1px solid #d9b2b2;
    background-color: #feffef;
    padding: 5px 4px 4px 4px;
    margin: 4px 18px 4px 12px;
    overflow: auto;
    word-wrap: break-word;
}

div.ah {
    background-color: black;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0.2em;
    border: solid thin #333;
    /*
    border-radius: 0.5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#000),color-stop(0.3, #444));
    background-image: -moz-linear-gradient(center top, #eee 0%, #444 40%, #000);
    */
}

div.groupHeader {
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold;
}

div.groupText {
    margin-left: 16px;
    font-style: italic;
}

body {
    background: white;
    color: black;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

div.contents
{
    margin: 0;
    /* Note that class member details are are not within div.contents. */
    /* It's defined under the body. */
}

div.contents p code {
    font-family: Negerns Courier, Courier New, Courier, Monospace;
    font-size: 9pt;
}

/* List all members */
div.contents table td {
    /* border: 1px dotted #d9b2b2; */
    /* background-color: #feffef; */
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

/* Member prototype */
div.contents table.memname td {
    /* border: none;                    /* negate previous style */
    background-color: #4C0000;			/* dark red - negate previous style */
    background-color: #f4f4f4;			/* sgi lightgray - negate previous style */
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}

div.contents table.params td {
    /* border: none;                   /* negate previous style */
    background-color: #ffffff;      /* negate previous style */
}

div.contents table.params td {
    color: #000000;
    font-weight: normal;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

dl.return dd {
    color: #000000;
    font-weight: normal;
}

dl dd code {
    font-family: Negerns Courier, Courier New, Courier, Monospace;
    font-size: 9pt;
    font-weight: bold;
}

td.indexkey {
    background-color: #feffef;
    font-weight: bold;
    border: 1px solid #d9b2b2;
    margin: 2px 0px 2px 0;
    padding: 2px 10px;
}

td.indexvalue {
    background-color: #feffef;
    border: 1px solid #d9b2b2;
    padding: 2px 10px;
    margin: 2px 0px;
}

tr.memlist {
    background-color: #feffef;
}

tr.memlist td {
    border: 1px solid #d9b2b2;
}

p.formulaDsp {
    text-align: center;
}

img.formulaDsp {

}

img.formulaInl {
    vertical-align: middle;
}

div.center {
    text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

div.center img {
    border: 0px;
}

address.footer {
    text-align: right;
    padding-right: 12px;
    margin-bottom: 6px;
}

img.footer {
    border: 0px;
    vertical-align: middle;
}

/* @group Code Colorization */

span.keyword {
    color: #080000;
    font-weight: bold;
}

span.keywordtype {
    /* color: #604020; */
    color: #080000;
    font-weight: bold;
}

span.keywordflow {
    color: #e08000;
}

span.comment {
    color: #009900;
}

span.preprocessor {
    color: #806020;
}

span.stringliteral {
    color: #002080;
}

span.charliteral {
    color: #008080;
}

span.vhdldigit {
    color: #ff00ff;
}

span.vhdlchar {
    color: #000000;
}

span.vhdlkeyword {
    color: #700070;
}

span.vhdllogic {
    color: #ff0000;
}

/* @end */

.search {
    color: #003399;
    font-weight: bold;
}

form.search {
    margin-bottom: 0px;
    margin-top: 0px;
}

input.search {
    font-size: 75%;
    color: #000080;
    font-weight: normal;
    background-color: #e8eef2;
}

td.tiny {
    font-size: 75%;
}

.dirtab {
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid #A3B4D7;
}

th.dirtab {
    background: #EBEFF6;
    font-weight: bold;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #660000;
    margin-top: 20px;
}

hr.footer {
    height: 1px;
}

/* @group Member Descriptions */

div.contents table.memberdecls {
    border-spacing: 0px;
    padding: 0px;
	/* Do not set width to 100% so the items stay on the left and not in the middle of the page */
	/* width: 100%; */
}

div.contents table.memberdecls td {
    /* border: 1px dotted #d9b2b2;               /* negate previous style */
    border: none;
    background-color: #fff;  /* negate previous style */
    padding-left: 1px;          /* negate previous style */
    padding-right: 1px;         /* negate previous style */
    padding-top: 0px;           /* negate previous style */
    padding-bottom: 0px;        /* negate previous style */

}

div.contents table.memberdecls tr.heading td {
	padding-bottom: 10px;	/* vertical gap after Public Member Functions section */
}

.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    /* background-color: #E6CCCC; */
    margin: 4px;
    padding: 1px 0 0 8px;
    font-family: Negerns Courier, Courier New, Courier, Monospace;
    font-size: 10pt;
    font-weight: normal;
}

/* Make the function prototype and all to be bold */
/*
.memItemLeft.a.el, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    font-weight: bold;
}
*/

div.contents table.memberdecls td.mdescLeft,
div.contents table.memberdecls td.mdescRight {
    font-family: Segoe UI, Verdana, Geneva, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    padding: 1px 8px 4px 1px;
    color: #666666;
}

div.contents table.memberdecls td.memItemLeft,
div.contents table.memberdecls td.memItemRight,
div.contents table.memberdecls td.memTemplParams {
    border-top: 1px solid #d9b2b2;
	border: none;		/* No lines in public member function section */
    padding-top: 1px;
    padding-bottom: 3px;
    padding-bottom: 0px;  /* compress rows */
}

.memItemLeft, .memTemplItemLeft {
    white-space: nowrap;
}

.memTemplParams {
    color: #4665A2;
    white-space: nowrap;
}

td.memSeparator {
    line-height: 0px;
}

.inherit_header {
    font-weight: bold;
    line-height: 26px;
}

/* @end */

/* @group Member Details */

/* Styles for detailed member documentation */

.memtemplate {
    /* font-size: 80%; */
    color: #4665A2;
    color: #black;
    font-weight: normal;
    margin-left: 11pt;
}

.memnav {
    /* background-color: #EBEFF6; */
    border: 1px solid #A3B4D7;
    text-align: center;
    margin: 2px;
    margin-right: 15px;
    padding: 2px;
}

/*td.mempage div.memitem*/
.memitem {
    /* padding: 0; */
    margin-bottom: 10px;
}

.memname {
	white-space: nowrap;
	font-weight: normal;
	margin-left: 6px;

	font-family: Negerns Courier, Courier New, Courier, Monospace;
	font-size: 9pt;
}

/*
td.mempage {
    margin: 0 !important;
    padding: 0 !important;
}
*/

.memproto {
    margin-top: 20px;
	border: 1px solid #c0c0c0;
    padding: 3px 0px 0px 0px;
    /* color: #253555; */
    color: #black;
    font-weight: bold;
    /* text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9); */
    background-repeat:repeat-x;
    background-color: #f4f4f4;
}

.memproto a {
    color: #fff;
	color: black;
    font-weight: bold;
}

.memproto a:visited {
    color: #fff;
	color: black;
    text-decoration: underline;
}

.mlabels-right:before {
	content: "[";
	font-family: Negerns Courier, Courier New, Courier, Monospace;
	font-size: 9pt;
	font-weight: normal;
}

.mlabels-right:after {
	content: "]";
	font-family: Negerns Courier, Courier New, Courier, Monospace;
	font-size: 9pt;
	font-weight: normal;
}

.mlabels-right {
	vertical-align: top;
}

.mlabel:before {
	content: " ";
}

.mlabel {
	font-family: Negerns Courier, Courier New, Courier, Monospace;
	font-size: 9pt;
}

.memdoc
{
    margin-bottom: 20px;
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    padding: 1px 5px 10px 10px;

    padding: 1px 16px 5px 16px;			/* Top 1px fixes a gap at the top */
										/* 16px align with function signature */
    /* background-color: #FBFCFD; */
    border-top-width: 0;
    /* opera specific markup */
    /*
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    */
    /* firefox specific markup */
    /*
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
    background-image: -moz-linear-gradient(center top, #FFFFFF 0%, #FFFFFF 60%, #F7F8FB 95%, #EEF1F7);
    */
    /* webkit specific markup */
    /*
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    background-image: -webkit-gradient(linear,center top,center bottom,from(#FFFFFF), color-stop(0.6,#FFFFFF), color-stop(0.60,#FFFFFF), color-stop(0.95,#F7F8FB), to(#EEF1F7));
    */
}

.paramkey {
    text-align: right;
}

.paramtype {
    white-space: nowrap;
}

.paramname {
    color: #f8f8f8;
	color: black;
    white-space: nowrap;
}
.paramname em {
    font-style: normal;
}

.params, .retval, .exception, .tparams {
	border-spacing: 6px 2px;
}

.params .paramname, .retval .paramname {
	font-weight: bold;
	vertical-align: top;
}

.params .paramtype {
	font-style: italic;
	vertical-align: top;
}

.params .paramdir {
	font-family: Negerns Courier, Courier New, Courier, Monospace;
	vertical-align: top;
}




/* @end */

/* @group Directory (tree) */

/* for the tree view */

.ftvtree {
    font-family: sans-serif;
    margin: 0px;
}

/* these are for tree view when used as main index */

.directory {
    font-size: 9pt;
    font-weight: bold;
    margin: 5px;
}

.directory h3 {
    margin: 0px;
    margin-top: 1em;
    font-size: 11pt;
}

/*
The following two styles can be used to replace the root node title
with an image of your choice.  Simply uncomment the next two styles,
specify the name of your image and be sure to set 'height' to the
proper pixel height of your image.
*/

/*
.directory h3.swap {
    height: 61px;
    background-repeat: no-repeat;
    background-image: url("yourimage.gif");
}
.directory h3.swap span {
    display: none;
}
*/

.directory > h3 {
    margin-top: 0;
}

.directory p {
    margin: 0px;
    white-space: nowrap;
}

.directory div {
    display: none;
    margin: 0px;
}

.directory img {
    vertical-align: -30%;
}

/* these are for tree view when not used as main index */

.directory-alt {
    font-size: 100%;
    font-weight: bold;
}

.directory-alt h3 {
    margin: 0px;
    margin-top: 1em;
    font-size: 11pt;
}

.directory-alt > h3 {
    margin-top: 0;
}

.directory-alt p {
    margin: 0px;
    white-space: nowrap;
}

.directory-alt div {
    display: none;
    margin: 0px;
}

.directory-alt img {
    vertical-align: -30%;
}

/* @end */

/* Class Member List */

.directory tr td {
	border: none;
	padding: 0px;
	margin: 0px;
}

.directory tr td.entry {
	font-family: Negerns Courier, Courier New, Courier, Monospace;
    font-size: 9pt;
	font-weight: normal;
}

.directory tr td.entry a.el:after {
	content: " ";
}

.directory tr td.entry a.el {
}

div.dynheader {
        margin-top: 8px;
}

address {
    font-style: normal;
    color: #2A3D61;
}

table.doxtable {
    border-collapse:collapse;
}

table.doxtable td, table.doxtable th {
    border: 1px solid #2D4068;
    padding: 3px 7px 2px;
}

table.doxtable th {
    background-color: #374F7F;
    color: #FFFFFF;
    font-size: 110%;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align:left;
}

.tabsearch {
    top: 0px;
    left: 10px;
    height: 36px;
    /* background-image: url('tab_b.png'); */
    z-index: 101;
    overflow: hidden;
    font-size: 13px;
}

.navpath ul
{
    font-size: 11px;
    font-weight: bold;
    /* background-image:url('tab_b.png'); */
    /* background-repeat:repeat-x; */
    height:20px;
    line-height:20px;
    color:#8AA0CC;
    /* border:solid 1px #C2CDE4; */
    border:solid 1px #d9b2b2;
    border-top-width: 0px;
    overflow:hidden;
    margin:0px;
    padding:0px;
	width: 100%;		/* make the class bread crumb box align with navigation tabs box */
}

.navpath li
{
    list-style-type:none;
    float:left;
    padding-left: 10px;			/* align with title */
    padding-right:15px;
	padding-right: 0px;
    /* background-image:url('bc_s.png'); */
    /* background-repeat:no-repeat; */
    background-position:right;
    color:#364D7C;
}

.navpath li.navelem a
{
    height:32px;
    display:block;
    text-decoration: none;
    outline: none;
}

.navpath li.navelem a:hover
{
    color:#6884BD;
}

.navpath li.footer
{
        list-style-type:none;
        float:right;
        padding-left:10px;
        padding-right:15px;
        background-image:none;
        background-repeat:no-repeat;
        background-position:right;
        color:#364D7C;
        font-size: 8pt;
}


div.summary
{
	/*
    float: right;
    font-size: 8pt;
    padding-top: 10px;
    padding-right: 5px;
    width: 50%;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
	*/
	padding-top: 10px;
	padding-left: 5px;			/* align with title */
	                            /* since each item has a left padding, we take that */
								/* into consideration when computing how much to pad */
								/* from the left */
}

div.summary a
{
    white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}

div.ingroups
{
    font-size: 8pt;
    padding-left: 5px;
    width: 50%;
    text-align: left;
}

div.ingroups a
{
    white-space: nowrap;
}

div.header {
    /* background-image:url('nav_h.png'); */
    /* background-repeat:repeat-x; */
    /* background-color: #E6E6E6; */
    margin:  0px;
    border-bottom: 1px solid #D9B2B2;
}

div.headertitle {
    padding: 5px 5px 5px 10px;
}

div.title {
    font-size: 11pt;
    font-weight: bold;
}

dl {
	padding: 0 0 0 10px;
}

dl.see {
	padding-left: 0px;
}

dl.see dd {
	margin-left: 20px;
}

dl.note, dl.warning, dl.attention, dl.pre, dl.post, dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug {
	border-left:4px solid;
	padding: 0 0 0 6px;
}

dl.note {
	border-color: #D0D000;
}

dl.warning, dl.attention {
	border-color: #FF0000;
}

dl.pre, dl.post, dl.invariant {
	border-color: #00D000;
}

dl.deprecated {
	border-color: #505050;
}

dl.todo {
	border-color: #00C0E0;
}

dl.test {
	border-color: #3030E0;
}

dl.bug {
	border-color: #C08050;
}

#projectlogo	{
    text-align: center;
    vertical-align: bottom;
    border-collapse: separate;
}

#projectlogo img {
    border: 0px none;
}

#projectname {
    font-family: Segoe UI, Verdana, Geneva, Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#projectbrief {
    font-family: Segoe UI, Verdana, Geneva, Arial, sans-serif;
    font-size: 9pt;
    margin: 0px;
    padding: 0px;
}

#projectnumber {
    font-family: Segoe UI, Verdana, Geneva, Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#titlearea {
    padding: 0px;
    padding-left: 5px;
    padding-bottom: 4px;
    margin: 0px;
    width: 100%;
    color: #000;
    /* border-bottom: 1px solid #5373B4; */
    background-color: #ffffff;
}

#titlearea tr {
    /* Override the hardcoded setting in HTML */
    height: 40px !important;
}



/************************************************************************/


.tabs {
    border-top: 1px solid #D9B2B2;
}

.tabs, .tabs2, .tabs3 {
    background-image: none;
    background-color: #fff;
    font-family: Segoe UI, Verdana, Geneva, Arial, sans-serif;
    font-size: 8pt;
    border-bottom: 1px solid #D9B2B2;
    border-left: 1px solid #D9B2B2;
    border-right: 1px solid #D9B2B2;
    width: 100%;
    z-index: 101;
}

.tabs2 {
    font-size: 8pt;
}

.tabs3 {
    font-size: 8pt;
    font-weight: normal;
}

.tablist {
    margin: 0;
    padding: 0;
    display: table;
    background-color: #fff;
}

.tablist li {
    background-image: none;
    line-height: 14pt;
    display: table-cell;
    vertical-align: middle;
    list-style: none;
	width: 100px;
	text-align: left;
}

.tablist a {
    /* color: #000000; */
    display: block;
    font-weight: normal;
    padding: 0 10px;		/* since the labels are left aligned, need space on the left */
	                        /* so the first left items are aligned with the title */
    text-decoration: none;
    /* border-right: 1px dotted #999999; */
    /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9); */
    outline: none;
}

/* Alphabetical list so letter will have a space clearance */
.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    /* background-image: url('tab_h.png'); */
    background-image: none;
    color: #fff;
    background-color: #4C0000;
    /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0); */
    text-decoration: none;
}

.tablist li.current a {
    /* background-image: url('tab_a.png'); */
    background-image: none;
    color: #fff;
    background-color: #4C0000;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}
